extends layout

block title
  title This is the page title

block nav
  +nav({english: true})

block content
  header
    h1 Hello World!
  main
    p I'm going to be a software engineer soon!
    +earthImg("The Earth", "The Earth")
