extends layout

block lang
  | "sr-Cyrl-rs"

block title
  title Ово је наслов странице

block nav
  +nav({serbian: true})

block content
  header
    h1 Здраво свете!
  main
    p Ускоро ћу бити софтверски инжењер!
    +earthImg("Планета Земља", "Планета Земља")
