extends layout

block title
  title Ceci est le titre de la page

block nav
  +nav({french: true})

block content
  header
    h1 Bonjour le monde!
  main
    p Je vais bientôt être un ingénieur logiciel!
    +earthImg("La planète Terre", "La planète Terre")
